body {
  margin: 0;
  background-image: url(./components/images/Popcorn.jpeg);
  background-color: rebeccapurple;

    border-radius: 50%;
    padding: 0.5em;
    height: 10vh;
    text-align: center;
    font-size: 1.77rem;
    text-transform: uppercase;
    font-family: monospace;
    
    color: orange;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  
}